@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Welcome  to Islamic University</h2>
    <p class="lead">Islamic University is one of the major public universities in Bangladesh and the largest seat of higher education in the south-west part of the country. It is a major international center for an excellent integration of Islamic Studies with the General Studies and Studies of Modern Science and Technology.</p>
    
</div>


